@mixin container {
  @media (min-width: #{$tablet}) and (max-width: #{$desktop}) {
    width: 668px;
    padding: 0 50px;
  }
  @media (min-width: #{$desktop}) {
    width: 1050px;
    padding: 0 50px;
  }
}
