@mixin container {
  width: 260px;
  @media ($tablet) {
    width: 668px;
  }
  @media ($desktop-min) {
    width: 1050px;
  }
}
@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
