@mixin container {
  width: 320px;
  margin: 0 auto;
  @media ($tablet) {
    width: 768px;
  }
  @media ($desktop-min) {
    width: 1150px;
  }
}
@mixin hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
