$tablet: "min-width: 768px";
$desktop: "min-width: 1150px";
$retina-dpi: "min-resolution: 144dpi";
$retina-dppx: "min-resolution: 1.5dppx";

$white: #fff;
$bg-color: #f9f9f9;
$border-color--light: #ececec;
$border-color: #e5e5e5;
$border-color--dark: #444;
$border-color--darken: #000;
$text-color: #000;
$text-color--muted: #444;
$nav-btn-color: #221f1f;
$brand-color--lighten: #59d5bc;
$brand-color--light: #63d1bb;
$brand-color: #62d1ba;
$brand-color--dark: #3bb09d;
$brand-color--darken: #14a391;
$icon-color: rgba(68, 68, 68, 0.2);
$icon-category-color: #149080;
