$font: opensans;
$color-base: #63d1bb;
$tablet: "min-width: 768px";
$desktop-max: "max-width: 1200px";
$desktop-min: "min-width: 1200px";
$retina-dpi: "min-resolution: 144dpi";
$retina-dppx: "min-resolution: 1.5dppx";
