.about-us{
  width: 260px;
  padding: 0;
  margin: 0 auto;
  @media ($tablet) {
    width: 668px;
  }
  @media ($desktop-min) {
    width: 700px;
    margin-top: 60px;
    margin-bottom: 20px;
  }
}
.about-us__title {
  @media ($tablet) {
    font-size: 54px;
  }
}

.about-us__list {
  padding: 0;
  font-weight: bold;
  list-style: none;
  @media ($tablet) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 668px;
    margin: 0;
    padding: 0;
    font-size: 28px;
  }
  @media ($desktop-min){
    width:700px;
  }
}

.about-us__feature {
  width: 260px;
  padding-top: 60px;
  padding-bottom: 35px;
  font-size: 16px;
  &--eco {
    width: 185px;
    padding-right: 75px;
    background: url("../img/icons/icon-feature-1.svg") no-repeat 10px 0;
  }

  &--style {
    width: 195px;
    padding-right: 65px;
    background: url("../img/icons/icon-feature-3.svg") no-repeat 10px 0;
  }

  &--likes {
    width: 185px;
    padding-right: 75px;
    background: url("../img/icons/icon-feature-5.svg") no-repeat 10px 0;

  }

  &--hand-made {
    width: 200px;
    padding-right: 60px;
    background: url("../img/icons/icon-feature-2.svg") no-repeat 10px 0;

  }

  &--russia {
    width: 240px;
    padding-right: 20px;
    background: url("../img/icons/icon-feature-4.svg") no-repeat 10px 0;
  }

  &--present {
    width: 195px;
    padding-right: 65px;
    background: url("../img/icons/icon-feature-6.svg") no-repeat 10px 0;
  }

  @media ($tablet){
    width: 334px;
    margin-bottom: 30px;
    padding: 60px 0;
    font-size: 20px;
    line-height: 100%;
    &--eco{
      order:0;
    }
    &--style{
      width: 240px;
      padding-right: 94px;
      order: 2;
    }
    &--likes{
      width: 220px;
      padding-right: 114px;
      order:4;
    }
    &--hand-made{
      width: 300px;
      padding-right: 34px;
      order:1;
    }
    &--russia{
      order:3;
    }
    &--present{
      order:5;
    }
  }
  @media ($desktop-min){
    font-size: 22px;
    &--eco,
    &--russia{
      width: 350px;
    }
    &--style{
      width: 265px;
      padding-right: 85px;
    }
    &--likes{
      width: 235px;
      padding-right: 115px;
    }
    &--hand-made{
      width: 315px;
      padding-right: 35px;
    }
    &--present{

    }
  }
}
