.btn-submit{
  display: block;
  width: 260px;
  margin: 40px 0;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  text-decoration:none;
  text-transform: uppercase;
  font-family: $font;
  background-color: $color-base;
  color: #ffffff;
  border-style: none;
}
