.btn {
  display: block;
  width: 250px;
  margin: 30px 0;
  margin-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration:none;
  text-transform: uppercase;
  color: black;
  border: 2px solid grey;
}
