.catalog-title {
  width: 100%;
  margin-top: -62px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../img/bg-zigzag-fill.svg") no-repeat 0 200% #f1f1f1;
  background-size: 100% 70%;
}

.catalog-title__wrap {
  @include container-big;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media ($tablet) {
    margin: 0;
    padding-top: 20px;
    position: relative;
    z-index: 0;
  }
}

.catalog-title__text {
  margin: 70px auto;
  text-align: center;
  @media ($tablet){
    margin-top: 75px;
    margin-bottom: 90px;
    font-size: 34px;
  }
  @media ($desktop-min){
    margin-top: 65px;
    margin-bottom: 110px;
    font-size: 54px;
  }
}
