.category-nav {
  width: 320px;
  @media (min-width: #{$tablet}) and (max-width: #{$desktop}) {
    display: flex;
    justify-content: center;

  }
  @media (min-width: #{$desktop}) {

  }
}

.category-nav__list {
  width: 320px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  @media (min-width: #{$tablet}) and (max-width: #{$desktop}) {
    display: flex;
    flex-direction: row;
    width: 668px;
  }
  @media (min-width: #{$desktop}) {

  }
}

.category-nav__item {
  padding: 30px;
  font-size: 16px;
  @media (min-width: #{$tablet}) and (max-width: #{$desktop}) {
    width: 330px;
    font-size: 22px;

  }
  @media (min-width: #{$desktop}) {

  }

  &--interior {
    background: url("../img/icon-interior.svg") no-repeat 87% 50% $color-base;
  }

  &--toy {
    background: url("../img/icon-toy.svg") no-repeat 90% 50% #56c3b2;
  }
}

.category-nav__link {
  text-decoration: none;
  color: white;
  @media (min-width: #{$tablet}) and (max-width: #{$desktop}) {
    display: block;
    width: 150px;

  }
  @media (min-width: #{$desktop}) {

  }
}
