.category-nav {
  width: 320px;
  @media ($tablet)  {
    width: 768px;
    margin-top: -150px;
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
    background: url("../img/bg-zigzag-line.svg") no-repeat 0 135%;
    background-size: 100% 50%;
    position: relative;
    z-index: 5;
  }
  @media ($desktop-min) {
    width: 1150px;
    margin-top: -150px;
  }
}
.category-nav__list {
  width: 320px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  font-size: 16px;
  @media ($tablet) {
    display: flex;
    flex-direction: row;
    width: 668px;
  }
  @media ($desktop-min) {
    width: 1050px;
  }
}

.category-nav__item {
  padding: 30px;
  &:hover{
    margin-top: -5px;
  }
  &--interior {
    background: url("../img/icon-interior.svg") no-repeat 87% 50% $color-base;
    &:active{
      color:#8be2d0;
    }
  }

  &--toy {
    background: url("../img/icon-toy.svg") no-repeat 90% 50% #56c3b2;
    &:active{
      color:#7ed4c6;
    }
  }
  @media ($tablet) {
  }
  @media ($desktop-min){
    padding-right: 370px;
  }
}

.category-nav__link {
  display: block;
  text-decoration: none;
  color: white;
  @media ($tablet) {
    width: 125px;
    padding-right: 149px;
  }
  @media ($desktop-min) {
    padding-right: 0px;

  }
}
