.contacts-data{

}
.contacts-data__e-mail{
  display: inline-block;
  width: 75px;
  margin-left: 30px;
  font-family: $font;
  font-size: 14px;
}
.contacts-data__e-mail-link{

  display: inline-block;
  margin-bottom: 40px;
  font-family: $font;
  font-size: 14px;
}
.contacts-data__adds{
  display: inline-block;
  width: 75px;
  vertical-align: top;
  margin-left: 30px;
  font-family: $font;
  font-size: 14px;
}
.contacts-data__address{
  display: inline-block;
  width: 150px;
  margin-bottom: 40px;
  margin-top: -5px;
  font-family: $font;
  font-size: 14px;
  line-height: 200%;
}
