.contacts{
  width: 320px;
  @media ($tablet) and ($desktop-max) {
    width: 768px;
  }
  @media ($desktop-min){
    margin-left: -400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.contacts__title{
  margin-left: 30px;
  margin-bottom: 40px;
  @media ($tablet) and ($desktop-max) {
    width: 668px;
    padding: 20px 0px;
    font-size: 42px;
    background: url("../img/icon-flag.svg") no-repeat 100% 50%;
  }
  @media ($desktop-min){
    width:460px;
    font-size: 42px;
    margin-top: 67px;

  }
}
.contacts__write-to-us{
  margin: 30px ;
  @media ($tablet) and ($desktop-max) {
    margin: 60px auto;

  }
  @media ($desktop-min){
    margin-bottom: 0;
  }
}
