.contacts-data {
  width: 320px;
  @media ($tablet) and ($desktop-max) {
    width: 768px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

  }
}

.contacts-data__e-mail {
  display: inline-block;
  width: 80px;
  margin-left: 30px;
  font-size: 14px;
}

.contacts-data__e-mail-link {
  display: inline-block;
  width: 185px;
  margin-bottom: 40px;
  font-size: 14px;
}

.contacts-data__adds {
  display: inline-block;
  width: 80px;
  vertical-align: top;
  margin-left: 30px;
  font-size: 14px;
}

.contacts-data__address {
  display: inline-block;
  width: 150px;
  margin-bottom: 40px;
  margin-top: -5px;
  font-size: 14px;
  line-height: 200%;
}
