.contacts-flex{
  @media ($tablet) {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 20px;

  }
  @media ($desktop-min){
    height: 600px;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
