.contacts-data {
  width: 320px;
  color:#dadada;
  font-size: 16px;
  @media ($tablet) {
    width: 768px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  @media ($desktop-min){
    width: 400px;
    flex-direction: column;
    align-items: flex-start;
  }
}
.contacts-data__e-mail-wrap,
.contacts-data__address-wrap{
  @media ($desktop-min){
  display: flex;
  flex-direction: row;

}
}

.contacts-data__e-mail {
  display: inline-block;
  width: 80px;
  margin-left: 30px;
  vertical-align: top;
}

.contacts-data__e-mail-link {
  display: inline-block;
  vertical-align: top;
  width: 190px;
  margin-bottom: 40px;
}
.contacts-data__e-mail-link-a{
  display: block;
  text-decoration: none;
  border-bottom: 1px solid $color-base;
  color:#a8a8a8;
  &:hover{
    color:$color-base;
  }
  &:active{
    color:#c7ece7;
    border-bottom: 1px solid #ecf9f7;
  }
}
.contacts-data__adds {
  display: inline-block;
  width: 80px;
  vertical-align: top;
  margin-left: 30px;
}

.contacts-data__address {
  display: inline-block;
  width: 230px;
  margin-bottom: 85px;
  line-height: 200%;
  vertical-align: top;
}
