.contacts-wrap{
  @media ($tablet) {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 20px;

  }
  @media ($desktop-min){
    max-height: 600px;
    margin-left: 70px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
