.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__link {
  display: block;
  margin-right: 10px;
  width: 127px;
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  color: $text-color;
}
;
.copyright__logo {
  margin-top: 12px;
  text-decoration: none;
  fill: $brand-color--light;

  &:hover {
    fill: $brand-color--darken;
  }

  &:active {
    fill: rgba($brand-color--darken, 0.3);
  }
}
