.copyright {
  margin: 25px 70px;
  @media ($tablet){
    margin: 0;
  }
}

.copyright__link {
  width: 170px;
  height: 35px;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  background: url("../img/logo-htmlacademy.svg") no-repeat 100% 0;
}
