.features{
  @include container;
  padding-top: 28px;
  padding-bottom: 25px;
  @media ($tablet) {
    padding-top: 50px;
    padding-bottom: 78px;
  }
  @media ($desktop) {
    width: 700px;
    padding-top: 59px;
    padding-bottom: 60px;
  }
}
.features__title {
  margin: 0;
  margin-bottom: 3px;
  font-size: 25px;
  line-height: 30px;
  color: $text-color;
  @media ($tablet) {
    font-size: 43px;
    line-height: 50px;
  }
  @media ($desktop) {
    padding-left: 175px;
    font-size: 53px;
    line-height: 57px;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  @media ($tablet) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: -7px;
  }
  @media ($desktop){
    width: 700px;
    margin-top: -10px;
    padding-left: 175px;
  }
}

.features__item {
  position: relative;
  padding-top: 83px;
  line-height: 20px;
  color: $text-color;
  font-size: 17px;
  font-weight: bold;
  @media ($tablet){
    width: 314px;
    padding-top: 110px;
    padding-right: 20px;
    font-size: 20px;
    line-height: 22px;
    &--eco{
      order:0;
    }
    &--style{
      order: 2;
    }
    &--likes{
      order:4;
    }
    &--hand-made{
      order:1;
    }
    &--russia{
      order:3;
    }
    &--present{
      order:5;
    }
  }
  @media ($desktop){
    width: 330px;
    padding-top: 112px;
    padding-right: 20px;
    font-size: 20px;
    line-height: 22px;
  }
}
.features__icon{
  position: absolute;
  top: 30px;
  left: 0;
  fill: $brand-color--light;

  &--eco {
    top: 29px;
    left: 6px;
  }

  &--likes {
    top: 35px;
    left: 6px;
  }

  &--hand-made {
    left: 2px;
  }

  &--russia {
    top: 34px;
    left: -7px;
  }

  &--present {
    left: 2px;
  }
  @media ($tablet) {
    top: 57px;

    &--likes {
      top: 62px;
    }

    &--russia {
      top: 59px;
    }
  }
  @media ($desktop) {
    top: 60px;

    &--eco {
      top: 58px;
      left: 10px;
    }

    &--likes {
      top: 62px;
      left: 8px;
    }
  }
}
