.form-order {
  width: 260px;
  @media (min-width: #{$tablet}) and (max-width: #{$desktop}) {
    width: 668px;

  }
  @media (min-width: #{$desktop}) {

  }
}

.form-order__headline {
  text-transform: uppercase;
  color: $color-base;
  font-size: 16px;

}
.form-order__wrap-block{
  @media (min-width: #{$tablet}) and (max-width: #{$desktop}) {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

  }
  @media (min-width: #{$desktop}) {

  }
}
.form-order__wrap-input{
  @media (min-width: #{$tablet}) and (max-width: #{$desktop}) {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  @media (min-width: #{$desktop}) {

  }
}
.form-order__input{

}
.form-order__label {

}

.form-order__input-text {
  display: inline-block;
  width: 260px;
  padding: 20px 0;
  border-style: none;
  border-bottom: 2px solid black;

  &--tel {
    background: url("../img/icon-phone.svg") no-repeat 95% 50%;
  }

  &--email {
    background: url("../img/icon-mail.svg") no-repeat 95% 50%;
  }
}

.form-order__label-text {
  display: block;
}

.form-order__submit {
  margin-left: 0;
  background-color: #ffffff;
}
