.form-order{
  margin-left: 30px;
}
.form-order__headline{
  text-transform: uppercase;
  color: green;
}
.form-order__input{


}

.form-order__label{


}
.form-order__input-text{
  border-style: none;
  border-bottom: 2px solid black;
}
.form-order__label-text{
  display: block;

}
.form-order__input-text--tel{
  background: url("icon-phone.svg") no-repeat 100% 0;
}
.form-order__input-text--email{
  background: url("icon-mail.svg") no-repeat 100% 0;
}
