.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.headline__wrap{
  width: 100%;
  background: url("../img/hero-mobile@1x.jpg")no-repeat 50% -20px #f9f9f9;
  background-size:auto 370px;
  width: 260px;
  height: 353px;
  text-align: center;
  @media ($retina-dpi), ($retina-dppx) {
    background: url("../img/hero-mobile@2x.jpg") no-repeat 50% 50% #f9f9f9;
  }
  @media ($tablet) {
    padding-bottom: 360px;
    border: none;
    border-top: 1px solid #ececec;
    background: url("../img/hero-mobile@2x.jpg") no-repeat 50% 50% #f9f9f9;
    top: -62px;
    position: relative;
    z-index: 0;
  }
  @media ($desktop-min){
    padding-bottom: 345px;
  }
}

.headline__text {
  width: 250px;
  margin: 90px auto 120px;
  font-size: 26px;
  line-height: 100%;
  @media ($tablet) {
    width: 500px;
    margin-top: 155px;
    font-size: 42px;
  }
  @media ($desktop-min){
    width: 620px;
    font-size: 50px;
  }
}
