.headline {
  background: url("../img/hero-mobile@1x.jpg") no-repeat 50% 0;
  border: 1px solid #ececec;
  text-align: center;
  @media ($tablet) and ($desktop-max) {
    width: 768px;
    padding-bottom: 370px;
    border: none;
    border-top: 1px solid #ececec;
    background: url("../img/hero-mobile@2x.jpg") 50% 0;
    background-size: cover;
    position: relative;
    top: -68px;
    z-index: 0;
  }
  @media ($desktop-min){
    width: 1150px;
    height: 580px;
    position: relative;
    z-index: 0;
  }

}

.headline__text {
  width: 250px;
  margin: 95px auto 125px;
  font-size: 26px;
  line-height: 100%;
  @media ($tablet) and ($desktop-max) {
    width: 500px;
    margin-top: 155px;
    font-size: 42px;
  }
}
