.headline {
  background: url("../img/hero-mobile@1x.jpg") 50% 50%;
  background-size: cover;
  border: 1px solid #ececec;
  text-align: center;
  @media ($retina-dpi), ($retina-dppx) {
    background: url("../img/hero-mobile@2x.jpg") no-repeat 50% 50%;
  }
  @media ($tablet) {
    width: 768px;
    padding-bottom: 366px;
    border: none;
    border-top: 1px solid #ececec;
    background: url("../img/hero-mobile@2x.jpg") no-repeat 50% 50%;
    top: -88px;
    position: relative;
    z-index: 0;
  }
  @media ($desktop-min){
    width: 1150px;
    top: -75px;
  }
}

.headline__text {
  width: 250px;
  margin: 95px auto 125px;
  font-size: 26px;
  line-height: 100%;
  @media ($tablet) and ($desktop-max) {
    width: 500px;
    margin-top: 155px;
    font-size: 42px;
  }
  @media ($desktop-min){
    width: 620px;
    margin-top: 155px;
    font-size: 50px;
  }
}
