.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: #{$tablet}) and (max-width: #{$desktop}) {
    width: 668px;
    margin: 0 50px;
  }
  @media (min-width: #{$desktop}) {

  }

}

.main-nav__toggle {
  width: 22px;
  height: 22px;
  background: url("../img/icon-menu-close.svg") no-repeat 50% 50%;
  border-style: none;
}

.main-nav__list {
  width: 260px;
  padding: 0;
  border: 1px solid green;
  list-style: none;
  @media (min-width: #{$tablet}) and (max-width: #{$desktop}) {
    display: flex;
    flex-direction: row;
    width: 668px;

  }
  @media (min-width: #{$desktop}) {

  }
}

.main-nav__item {
  padding: 25px 50px;
  border-bottom: 1px solid #ececec;
  @media (min-width: #{$tablet}) and (max-width: #{$desktop}) {
    width: 170px;
    padding: 20px 0;
    &:nth-of-type(3) {
      position: relative;
      top: -80px;
      right: -70px;
      padding-left: 50px;
      background-position: 15% 50%;
      border-left: 1px solid #ececec;
      z-index: 0;
    }
    &:nth-of-type(4) {
      width: 170px;
      background-color: #afffff;/*#ffffff;*/
      position: relative;
      padding-left: 65px;
      top: -80px;
      right: 50px;
      background-position: 15% 50%;
      border-left: 1px solid #ececec;
      z-index: 0;
    }
  }
  @media (min-width: #{$desktop}) {

  }
  &--search {
    background: url("../img/icon-search.svg") no-repeat 0% 50%;
  }

  &--cart {
    background: url("../img/icon-cart.svg") no-repeat 0% 50%;
  }

}

.main-nav__link {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
