.map{
  width: 320px;
  height: 460px;
  background: url("../img/icon-map-pin.svg") no-repeat 50% 50%, url("../img/map-mobile@1x.jpg") no-repeat 50% 50%;
  @media ($tablet) and ($desktop-max) {
    width: 768px;

  }
  @media ($desktop-min){
    width: 525px;
    height: 460px;
    margin-left: -90px;
    background: url("../img/icon-map-pin.svg") no-repeat 50% 50%, url("../img/map-desktop@1x.jpg") no-repeat 50% 50%;
    order: 5;
  }
}
