.modal{
  width: 320px;
  padding-left: 30px;
  font-family: $font;
  border: 1px solid red;
}
.modal__title{
  width: 140px;
  margin: 30px auto;
  text-transform: uppercase;
}
.modal__text{
    margin: 30px auto;
}
