.modal{
  width: 320px;
  font-family: $font;
}
.modal__title{
  width: 140px;
  margin: 30px auto;
  text-transform: uppercase;
}
.modal__text{
  width: 150px;
  margin: 30px auto;
  font-size: 16px;
}
