.modal {
  width: 320px;
  background-color: #ffffff;
  position: fixed;
  z-index: 100;
  border: 1px solid #c7c7c7;
  @media ($tablet) {
    width: 567px;
    height: 338px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.modal__title {
  width: 154px;
  margin: 30px auto;
  text-transform: uppercase;
  font-size: 26px;
  text-align: center;
  @media ($tablet) {
    width: 355px;
    margin: 40px auto;
    font-size: 30px;
  }
}

.modal__text {
  width: 150px;
  margin: -15px auto 30px;
  font-size: 16px;
}
