.page-footer {
  background: $bg-color;

  @media ($tablet) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.page-footer__inner {
  @include container();

  @media ($tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo {
  display: none;

  &:hover {
    fill: $brand-color--darken;
  }

  &:active {
    fill: rgba($brand-color--darken, 0.3);
  }

  @media ($tablet) {
    align-self: center;
    display: block;
    text-decoration: none;
  }
}

.page-footer__copyright {
  padding: 10px 38px 16px;
  width: 184px;
  border-top: 1px solid $border-color;

  @media ($tablet) {
    margin: 0;
    padding: 0;
    border: none;
  }

  @media ($desktop) {
    margin: 0;
    margin-left: 170px;
    padding: 0;
    border: none;
  }
}
