.page-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.page-header__logo {
  width: 100px;
  height: 70px;
  background: url($logo-url) no-repeat;
}
