.page-footer{
  width: 320px;
  background-color: #f1f1f1;
  @media ($tablet) {
    width: 768px;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    @media ($desktop-min){
      width: 1050px;
    }
}
.page-footer__logo{
  display: none;
  @media ($tablet){
    display: block;
  }

}
