.product-of-week {
  padding-bottom: 30px;
  border-bottom: 2px solid #f1f1f1;
  @media ($tablet) {
    width: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 5px solid #f1f1f1;
  }
  @media ($desktop-min) {
    width: 1050px;
    margin-top: 100px;
  }
}

.product-of-week__wrap-name {
  @media ($tablet) {
    width: 668px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  @media ($desktop-min) {
    width: 1050px;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}

.product-of-week__product-name {
  @media ($tablet) {
    font-size: 40px;
  }
  @media ($desktop-min) {
    margin-left: -10px;
    font-size: 50px;
    position: relative;
    z-index: 5;
  }
}

.product-of-week__headline {
  margin-top: -20px;
  font-size: 16px;
  color: $color-base;
  text-transform: uppercase;
  @media ($tablet) {
    text-align: center;
    width: 100px;
    margin: 0 30px 0 0;
    line-height: 100%;
  }
  @media ($desktop-min) {
    margin: 0 50px 0 35px;
  }
}
.product-of-week__wrap-description{
  @media ($tablet){
    width:668px;
    position: relative;
  }
  @media ($desktop-min){
    width: 1050px;
    align-items: flex-end;
  }

}
.product-of-week__description {
  width: 260px;
  font-size: 16px;
  @media ($tablet) {
    width: 290px;
  }
}

.product-of-week__description-table {
  border-collapse: collapse;
  width: 260px;
  @media ($tablet){
    margin-top: 35px;
    margin-bottom: 55px;
  }
  @media ($desktop-min){
    margin-top: 50px;
    margin-bottom: 105px;
  }
}

.product-of-week__cell {
  padding: 10px 0;
  font-size: 16px;
  border-bottom: 1px solid #ececec;
}

.product-of-week__cell--gap {
  padding-left: 30px;
}

.product-of-week__img {
  width: 260px;
  height: 300px;
  margin-top: 30px;
  @media ($tablet) {
    width: 335px;
    height: 405px;
    position: absolute;
    top: -10px;
    left:333px;

  }
  @media ($desktop-min) {
    width: 525px;
    height: 637px;
    top: -175px;
    left: 525px;
    z-index: 0;
  }
}

.product-of-week__price {
  width: 260px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #444444;
  font-size: 18px;
  @media ($tablet) {
    margin-bottom: 45px;
  }
  @media ($desktop-min){
    margin-bottom: 50px;
  }
}

.product-of-week__order {
  @media ($tablet) {
    width: 290px;
    margin: 0;
  }
}
