.product-item {
  margin: 0;
  margin-top: 30px;
  border: 1px solid #ececec;
  @media ($tablet) {
    height: 335px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  @media ($desktop-min){
    margin: 0;
    justify-content: flex-start;
    width: 318px;
    flex-wrap: nowrap;
    border: 1px solid #ececec;
  }
}
.product-item__desc {

}
.product-item__img {
  display: block;
  width: 260px;
  height: 196px;
  @media ($tablet) {
    width: 335px;
    height: 335px;
  }
  @media ($desktop-min){
    width: 318px;
    height: 464px;
  }
}
.product-item__text-wrap{
  @media ($tablet){
    display: flex;
    flex-direction: column;
    height: 265px;
  }
  @media ($desktop-min){
    margin: 0
  }
}
.product-item__name {
  width: 220px;
  margin-left: 30px;
  @media ($tablet) {
    width: 300px;
  }
}

.product-item__description {
  width: 200px;
  margin-left: 30px;
  padding-bottom: 20px;
  color: #a8a8a8;
  border-bottom: 1px solid #ececec;
  font-size: 14px;
  @media ($tablet) {
    width: 270px;
    border-style: none;
  }
  @media ($desktop-min){
    margin-top: 0;
  }
}

.product-item__price {
  width: 200px;
  padding: 22px 0;
  margin-left: 30px;
  font-weight: bold;
  @media ($tablet) {
    width: 268px;
    border-top: 1px solid #ececec;
  }
  @media ($desktop-min){
  }
}
.product-item__link {
  display: inline-block;
  fill: $icon-color;

  &:hover {
    fill: $brand-color--light;
  }

  &:active {
    fill: rgba($brand-color--light, 0.3);
  }
}
