.product-item-wrap{
  @include container-small;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media ($desktop-min){
    margin-top: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
