.product-item {
  margin: 0;
  margin-top: 30px;
  border: 1px solid $border-color--light;
  @media ($tablet) {
    height: 335px;
    display: flex;
    flex-direction: row;
  }
  @media ($desktop){
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 318px;
  }
}
.product-item__desc {
  @media ($desktop){
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.product-item__img {
  display: block;
  width: 260px;
  height: 196px;
  @media ($tablet) {
    width: 335px;
    height: 335px;
  }
  @media ($desktop){
    width: 318px;
    height: 464px;
  }
}
.product-item__text-wrap{
  @media ($tablet){
    display: flex;
    flex-direction: column;
    height: 265px;
  }
  @media ($desktop){
    margin: 0;
    height: auto;
  }
}
.product-item__name {
  width: 220px;
  margin-left: 30px;
  @media ($tablet) {
    width: 300px;
  }
  @media ($desktop) {
    width: 270px;
  }
}

.product-item__description {
  width: 200px;
  margin-left: 30px;
  padding-bottom: 20px;
  color: $text-color--muted;
  border-bottom: 1px solid $border-color--light;
  font-size: 14px;
  @media ($tablet) {
    width: 270px;
    border-style: none;
  }
  @media ($desktop){
    margin-top: 0;
  }
}

.product-item__price {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding: 22px 0;
  margin-left: 30px;
  font-weight: bold;
  @media ($tablet) {
    width: 270px;
    border-top: 1px solid $border-color--light;
  }
  @media ($desktop){

  }
}
.product-item__price-val {
  display: inline-block;
  vertical-align: middle;
}
.product-item__price-link {
  display: inline-block;
  vertical-align: middle;
  fill: $icon-color;

  &:hover {
    fill: $brand-color--light;
  }

  &:active {
    fill: rgba($brand-color--light, 0.3);
  }
}
.product-item__icon {
  width: 21px;
  height: 18px;
}
