.production-process{
  width: 260px;
  margin-left: 30px;
  border: 1px solid lightgrey;
}
.production-process__video{
  width: 260px;

  height: 150px;
  background-image: url("../img/video-mobile@1x.jpg");
}
.production-process__text{
  margin-left: 30px;
}
