.product-item {
  width: 260px;
  margin-top: 30px;
  margin-left: 30px;
  border: 1px solid #ececec;
  @media ($tablet) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 668px;
    height: 335px;
  }
  @media ($desktop-min){
    display: block;
    width: 315px;
    height: 660px;
    margin: 0;
    outline: 1px solid red;
  }

}

.product-item__img {
  width: 260px;
  height: 196px;
  margin-top: 0;
  @media ($tablet) {
    width: 335px;
    height: 335px;
  }
  @media ($desktop-min){
    width: 318px;
    height: 463px;
  }
}

.product-item__name {
  width: 200px;
  margin-left: 30px;
  @media ($tablet) and ($desktop-max) {
    width: 300px;
  }
}

.product-item__description {
  width: 200px;
  margin-left: 30px;
  padding-bottom: 20px;
  color: #a8a8a8;
  border-bottom: 1px solid #ececec;
  font-size: 14px;
  @media ($tablet) and ($desktop-max) {
    width: 270px;
    margin-top: -190px;
    border-style: none;
  }
}

.product-item__price {
  width: 200px;
  padding: 20px 0;
  margin-left: 30px;
  background: url("../img/icon-cart.svg") no-repeat 100% 50%;
  @media ($tablet) and ($desktop-max) {
    width: 270px;
    align-self: flex-end;
    margin-bottom: 0;
    border-top: 1px solid #ececec;
  }
}
