.product-of-week {
  padding-bottom: 30px;
  border-bottom: 2px solid #f1f1f1;
}

.product-of-week__wrap-name {
  @media ($tablet) and ($desktop-max) {
    width: 668px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.product-of-week__product-name {
  @media ($tablet) and ($desktop-max) {
    font-size: 40px;
  }
}

.product-of-week__headline {
  margin-top: -20px;
  font-size: 16px;
  color: $color-base;
  text-transform: uppercase;
  @media ($tablet) and ($desktop-max) {
    text-align: center;
    width: 100px;
    margin: 0 30px 0 0;
    line-height: 100%;
  }
}

.product-of-week__wrap-description {
  @media ($tablet) and ($desktop-max) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.product-of-week__description {
  width: 250px;
  font-size: 16px;
  @media ($tablet) and ($desktop-max) {
    margin: 0;
  }
}

.product-of-week__description-table {
  border-collapse: collapse;
  width: 260px;
  @media ($tablet) and ($desktop-max) {
    order: 1;
  }
}

.product-of-week__cell {
  padding: 10px 0;
  font-size: 16px;
  border-bottom: 1px solid #ececec;
}

.product-of-week__cell--gap {
  padding-left: 30px;
}

.product-of-week__img {
  width: 260px;
  height: 300px;
  margin-top: 30px;
  @media ($tablet) and ($desktop-max) {
    margin: 0;
    width: 330px;
    height: 400px;
  }
}

.product-of-week__price {
  width: 260px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #444444;
  font-size: 18px;
}
