.reviews {
  padding-top: 30px;
  padding-bottom: 50px;
  font-size: 15px;
  line-height: 30px;
  color: $text-color;
  background: url('../img/bg-zigzag-line.svg') repeat-x 0% 100%;
  background-size: auto 7px;
  @media ($tablet) {
    padding: 0;
    padding-bottom: 75px;
    font-size: 17px;
    background-size: auto 17px;
  }
  @media ($desktop){
    padding-bottom: 95px;
    font-size: 17px;
    background-size:  auto 23px;
  }
}
.reviews__inner{
  @include container;
  @media ($tablet) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 85px;
    padding-bottom: 20px;
    background: url('../img/review@1x.jpg') no-repeat left;
    @media ($retina-dpi), ($retina-dppx) {
      background: url('../img/review@2x.jpg') no-repeat left;
      background-size: 350px auto;
    }
  }
  @media ($desktop){
    padding-top: 70px;
    padding-bottom: 60px;
    background: url('../img/review@1x.jpg') no-repeat left;
    background-position: 50px;
    @media ($retina-dpi), ($retina-dppx) {
      background: url('../img/review@2x.jpg') no-repeat left;
      background-size: 350px auto;
    }
  }
}
.reviews__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 25px;
  font-weight: 700;
  color: $text-color;
  @media ($tablet){
    order: -2;
    margin-bottom: 52px;
    font-size: 43px;
    line-height: 45px;
  }
  @media ($desktop){
    margin-bottom: 48px;
    margin-left: 175px;
    font-size: 53px;
    line-height: 57px;
  }
}
.reviews__item{
  margin: 0;
  margin-bottom: 30px;
  @media ($desktop) {
    margin-left: 175px;
    margin-right: 100px;
  }
}
.reviews__text {
  margin: 0;
  margin-bottom: 26px;
  @media ($tablet) {
  margin-bottom: 60px;
  }
  @media ($desktop){
    margin-bottom: 40px;

  }
}

.reviews__author-name {
  display: block;
  margin-bottom: 3px;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 24px;
  color: $text-color;
}

.reviews__author-nickname {
  display: block;
  font-size: 17px;
  font-style: normal;
}

.reviews__pagination {
  display: flex;
  margin-bottom: 38px;
  @media ($tablet) {
    margin-top: -83px;
    margin-left: 495px;
    width: 172px;
  }
  @media ($desktop) {
    margin-top: -85px;
    margin-left: 875px;
    width: 175px;
  }
}

.reviews__arrow {
  width: 128px;
  height: 50px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid $border-color--light;
  background: url('../img/icon-left-arrow.svg') no-repeat center;

  &--next {
    background: url("../img/icon-right-arrow.svg") no-repeat center;
  }
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }

  @media ($tablet){
    border: none;
  }
}
.reviews__write{
  @media ($tablet) {
    order: -1;
    width: 177px;
  }
  @media ($desktop) {
    margin-top: 10px;
  }
}
