.review {
  border-bottom: 2px solid #f1f1f1;
}

.reviews__title {
  margin-left: 30px;
}

.reviews__text {
  width: 260px;
  margin-left: -10px;
  color: #696969;
  font-size: 16px;
  line-height: 200%;
}

.reviews__author-name {
  margin-left: -10px;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
}

.reviews__author-nickname {
  margin-left: -10px;
  font-size: 16px;
}

.reviews__toggle {
  display: flex;
  margin-left: 30px;
  width: 260px;
  border: 1px solid #ececec;
  margin-bottom: 30px;
}

.reviews__arrow {
  width: 90px;
  height: 30px;
  padding: 10px 20px;

  &--prev {
    background: url("../img/icon-left-arrow.svg") no-repeat 50% 50%;
    border-right: 1px solid #ececec;
  }

  &--next {
    background: url("../img/icon-right-arrow.svg") no-repeat 50% 50%;
  }
}
