.social {
  padding: 24px 22px 22px 57px;
  display: flex;
  align-items: center;
  width: 175px;
  @media ($tablet) {
    margin-top: 7px;
    margin-left: 115px;
  }

  @media ($desktop-min) {
    margin-left: 285px;
  }
}

.social__btn {
  margin-right: 40px;
  text-decoration: none;

  &:hover {
    fill: $brand-color--darken;
  }

  &:active {
    fill: rgba($brand-color--darken, 0.3);
  }
}
